# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# VSCode
.vscode/

# Logs
*.log
